<span style='color: #000'>610 frames</span>	<span style='color: #900'>12,288 KB</span>	<span style='color: #090'>163.94 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />