@font-face {
  font-family: 'icomoon_6';
  src:  url('fonts/icomoon_6.eot?ybaw17');
  src:  url('fonts/icomoon_6.eot?ybaw17#iefix') format('embedded-opentype'),
    url('fonts/icomoon_6.ttf?ybaw17') format('truetype'),
    url('fonts/icomoon_6.woff?ybaw17') format('woff'),
    url('fonts/icomoon_6.svg?ybaw17#icomoon_6') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon_6' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_best:before {
  content: "\e908";
}
.icon-icon_hemat:before {
  content: "\e909";
}
.icon-icon_tahanlama:before {
  content: "\e90a";
}
.icon-icon_salaman:before {
  content: "\e904";
}
.icon-icon_puas:before {
  content: "\e905";
}
.icon-icon_pemasangan:before {
  content: "\e906";
}
.icon-icon_pengalaman:before {
  content: "\e907";
}
.icon-kalku_icon:before {
  content: "\e900";
}
.icon-about_icon:before {
  content: "\e901";
}
.icon-acc_icon:before {
  content: "\e902";
}
.icon-blog_icon:before {
  content: "\e903";
}
.icon-contact_icon:before {
  content: "\e915";
}
.icon-home_icon:before {
  content: "\e916";
}
.icon-prod_icon:before {
  content: "\e917";
}
